# Use the attribute in Git 2.18+ only if you cannot store a file in UTF-8 encoding
# *.*	text	eol=crlf	working-tree-encoding=cp1251

# Auto detect text files and perform LF normalization
* text=auto

# The client hook must be placed on a local computer in the <REPO\.git\hooks> without extension <.sh>
# https://gist.github.com/c55f1538454755fdff71fba0d686e371 will be automatically executed before a commit
*.bat	-text	eol=crlf
*.cms	eol=crlf	linguist-language=j
*.csv	-text	eol=crlf	working-tree-encoding=cp1251
*.js
*.lst	eol=crlf	working-tree-encoding=cp1251
*.md	eol=crlf	diff=markdown
*.rsc	eol=crlf
*.vbs	-text	eol=crlf	working-tree-encoding=cp1251

# Files that are truly binary and should not be modified
.gitattributes	export-ignore
*.ico	binary	linguist-generated
*.inf	linguist-generated	linguist-language=ini
vendor/*.hns	linguist-generated	linguist-language=ini
vendor/*.lst	linguist-language=shell
*.png	binary
